.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  color: #fff;
}

.bg-custom{
  background: #4ed4b4;
  }
  .bg-custom-form{
  background: #333333;
  }
  h1{
  top: 25%;
  text-align: center;
  position: relative;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 140px;
  letter-spacing: 4px;
  }
  h1,p,label{
  color: #fff;
  }
  label{
  margin: 5px 0px;
  }
  .form-control{
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px !important;
  }
  .form-control:focus,.form-control:hover{
  border:none;
  margin: 0 auto;
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #4ed4b4;
  color: #fff;
  }

  .btn{
  border-radius: 0px;
  }

  .btn-custom {
  background: #4ed4b4;
  border-color: #4ed4b4;
  color: #fff;
  box-shadow: none;
  }
 

